html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  background-image: url('https://images.pexels.com/photos/31130204/pexels-photo-31130204/free-photo-of-vibrant-abstract-expressionist-painting-on-canvas.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: auto;
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(248, 247, 245, 0.418);
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 50%;
}

.navbar-brand {
  font-size: 4.5rem;
  font-family: 'JetBrains Mono', monospace;
}

.nav-link {
  font-family: 'JetBrains Mono', monospace;
}

 h2 {
 margin-top: 3rem;
margin-bottom: 3rem;
text-align: -webkit-center;
font-size: 3.5rem;
font-family: 'JetBrains Mono', monospace;
color: black;
}



 p {
  font-size: 2.2rem;
  text-align: -webkit-center;
  line-height: 1.5;
  font-family: 'JetBrains Mono', monospace;
  color: black;
}

img {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto; /* Maintains aspect ratio */
  margin: 20px auto; /* Adds spacing around the image */
  display: block; /* Centers the image if inside a block container */
  border-radius: 3rem;
  border: 5px solid black; 
}

/* main.css or your component-specific CSS */
main {
  min-height: 75vh;           /* Ensure full viewport height */
  display: flex;
  align-items: center;         /* Vertical centering */
  justify-content: center;     /* Horizontal centering */
  padding: 1rem;               /* Optional: some padding for smaller screens */
}

.footer-container{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(248, 247, 245, 0.418);
  width: 100%;
  height: 10vh; /* sets the footer height to 10% of the viewport height */
}

.custom-flex-container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center; /* centers items vertically */
  height: 100%; /* ensures the footer takes full height */
  width: 75vw; /* sets the container width to 75% of the viewport width */
  margin: 0 auto;
  color: black; /* sets text color for all children */
  font-size: xx-large;
}

.custom-flex-container-footer a {
  color: black;
  text-decoration: none; /* removes underlines from links */
}
